@import '@/styles/_constants.scss';
@import '@/styles/_colors.scss';

@mixin header-button-common-styles {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: $secondaryColor;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover:not([disabled]) {
    background-color: $hoveredSecondaryColor;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
  min-height: $titleBarHeight;
  background-color: $secondaryColor;
}

.rotate {
  transform: rotate(180deg);
}

.section {
  display: flex;
  -webkit-app-region: no-drag;
}

.appActionButton {
  @include header-button-common-styles;
  width: 80px;
}

.windowActionButton {
  @include header-button-common-styles;
  width: 50px;
}

.disabledButton {
  background-color: $disabledSecondaryColor;
  cursor: unset;
}
