.wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.menuItem {
  border: 0;
  background-color: unset;
  cursor: pointer;
  text-align: left;
  padding: 10px 15px 5px;
  font-size: 16px;
}