@import '@/styles/_colors.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.menuItem {
  border: 0;
  cursor: pointer;
  background-color: unset;
  text-align: left;
  padding: 10px 15px;
  font-size: 16px;
  color: $primaryColor;
  transition: background-color 0.2s;

  &:hover {
    background-color: $hoveredSecondaryColor;
  }
}

.activeMenuItem {
  background-color: $hoveredSecondaryColor;
}
