.app {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.sidebar {
  min-width: 159px;
  border-right: 1px solid darkslategray;
}

.main {
  flex-grow: 1;
  width: 100%;
  padding: 15px 10px;
}